@model M_N_Tuple

<div class="form-group">
<table class="file_table" id="@Model.getLable()" @*data-file-set-name="@Model.getSetName()"*@>
    <tr>
        <th class="file_left_cell">@Model.getTitle()</th>
        <th class="file_right_cell"></th>
    </tr>
    @if (Model.Item1 != null)
    {
        foreach (var item in Model.Item1)
        {
            <tr class='file_row'>
                <td class='file_row_name file_left_cell'> <div class='file_row_name'>@item.getName()</div> </td>
                <td class="file_right_cell">
                    <input class='file_row_id' name='null' type='hidden' value='@item.ID'>
                    <p class='btn btn-xs file_row_button'>Remove</p>
                </td>
            </tr>
        }
    }
    <tr class='file_row'>
        <td class='file_left_cell'> <div class='file_row_name'> <p class='btn btn-default file_add_button'>Add a file</p> </div> </td>
        <td class='file_right_cell'>
            <div class='file_upload_input'>
                <input type='file' name='null' />
            </div>
            <p class='btn btn-xs file_row_button'>Remove</p>
        </td>
    </tr>
</table>
</div>